---
layout: default
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            {{content}}
        </div>
        <div class="col-lg-7">
            <!-- modify this form HTML and place wherever you want your form -->
            <h2>Formulario de contacto:</h2>
            <form
            action="https://getsimpleform.com/messages?form_api_token=14148b7134bc0375a57ec02752c3d2f4"
            method="POST"
            >
            <div class="form-group">
                <label for="nombre">Nombre: </label>
                <textarea type="text" id="nombre" name="nombre" class="form-control form-control-sm"></textarea>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico: </label>
                <textarea type="text" id="email" name="email" class="form-control form-control-sm"></textarea>
            </div>
            <div class="form-group">
                <label for="asunto">Asunto: </label>
                <textarea type="text" id="asunto" name="asunto" class="form-control form-control-sm"></textarea>
            </div>       
            <div class="form-group">
                <label for="mensaje">Mensaje: </label>
                <textarea type="text" id="mensaje" name="mensaje" class="form-control form-control-lg"></textarea>
            </div>

            <!-- your other form fields go here -->
            <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
</div>
