---
layout: default
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            {{content}}
        </div>
        <div class="col-lg-7">
            <!-- modify this form HTML and place wherever you want your form -->
            <h2>Formulario de contacto:</h2>
            <form name="sentMessage" id="contactForm" novalidate
            action="https://getsimpleform.com/messages?form_api_token=14148b7134bc0375a57ec02752c3d2f4" 
            method="post">

            <div class="control-group">
                <div class="form-group col-xs-12 controls">
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre" class="form-control" required data-validation-required-message="Debes introducir un nombre.">
                </div>

            </div>
            <div class="control-group">
                <div class="form-group col-xs-12 controls">
                    <label for="email">Correo electrónico: </label>
                    <input type="text" name="email" class="form-control" required data-validation-required-message="Debes introducir un correo electrónico válido">
                </div>

            </div>
            <div class="control-group">
                <div class="form-group col-xs-12 controls">
                    <label for="asunto">Asunto: </label>
                    <input type="text" name="asunto" class="form-control" required data-validation-required-message="Por favor, introduce un asunto para el mensaje.">
                </div>

            </div>       
            <div class="control-group">
                <div class="form-group col-xs-12 controls">
                    <label for="mensaje">Mensaje: </label>
                    <textarea type="text" rows="5" name="mensaje" class="form-control" required data-validation-required-message="Por favor, introduce un mensaje."></textarea>
                </div>
            </div>

            <br>
            <div id="success"></div>

            <!-- your other form fields go here -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            
            </form>
        </div>
    </div>
</div>
</div>
