---
layout: default
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="col-lg-5 col-lg-offset-1 col-sm-12">
        <div class="row">
            <figure class="figure">
                <img src="calleja_byn.jpg" class="figure-fluid" alt="">
                <figcaption style="font-size: 10px;" class="figure-caption">El periodista y profesor de la UC3M José María Calleja | DAVID FERNÁNDEZ MORENO</figcaption>
            </figure>
            <br>
            </div>
    
    </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 col-sm-12">
                {{content}}			 
                </div>
        </div>
</div>
</div>