<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<head>
{% if page.url == "/404.html" %}<meta http-equiv="refresh" content="5; url={{ site.baseurl}}" />{% endif %}
</head>

<body>

    {% include nav.html %}

    {{ content }}

    <div class="row"  style="background-color: #0085a1; padding-bottom: 40px; margin-top: 50px; margin-bottom: 80px;">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        </div>
    </div>

    {% include footer.html %}

   {% include Scroll_to_Top.html %}  

</body>

</html>
