---
layout: default
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="container">
    {{content}}
    
<!--Grid row-->
<div class="row mb-5">

    <!--Grid column-->
    <div class="col-lg-6 col-md-12">
        <br>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hl3B4Ql8RtQ"
          allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
  
    </div>
    <!--Grid column-->
  
    <!--Grid column-->
    <div class="col-lg-6 col-md-12">
        <br>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B9rfD5WEJXM"
          allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
  
    </div>
  
    <!--Grid column-->
  
  </div>
  <!--Grid row-->
  
  <!--Grid row-->
  <div class="row mb-5">
    <!--Grid column-->
    <div class="col-lg-6 col-md-12">
        <br>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/q6c7ev6GfsA" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
  
    </div>

    <div class="col-lg-6 col-md-12">
        <br>
       <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t_Lsd76Erfg" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
    </div>
  </div>

  <!--Grid row-->
  
  <!--Grid row-->
  <div class="row d-flex justify-content-center">
  
    <!--Grid column-->
    <div class="col-lg-6 col-md-12">
        <br>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/An4T0wUerRs" style="height: 101%"
          allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
    </div>
  
  </div>
   </div>
    
</div>